name: Trigger Jenkins

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call Jenkins
        run: |
          curl -X POST \
            "${{ secrets.JENKINS_URL }}/job/Monesha_Portfolio_S3/build?token=Monesha_Portfolio_S3" \
            --user "${{ secrets.JENKINS_USERNAME }}:${{ secrets.JENKINS_API_TOKEN }}"
