name: Trigger Jenkins

on:
  push:
    branches:
      - main

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest

    steps:
      - name: Debug Jenkins URL (one line check)
        run: |
          echo "JENKINS_URL=${{ secrets.JENKINS_URL }}"

      - name: Trigger Jenkins Job
        run: |
          curl -X POST \
            "${{ secrets.JENKINS_URL }}/job/Monesha_Portfolio_S3/build?token=Monesha_Portfolio_S3" \
            --user "${{ secrets.JENKINS_USERNAME }}:${{ secrets.JENKINS_API_TOKEN }}"
